.DeleteCoupon {
	text-align: center;
}
.smallBoxDeleteCoupon{
    background-color: bisque;
    text-align: center;
    border: 1PX dashed black;
    padding: 10px 10px; /*5px*/
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    width: 27%; 
  }
  .smallBoxDeleteCoupon>h3{
	  color: black;
  }
